header{
    background-color: #404040;
    height: 10vh;
    z-index: 100;
}

h1{
    font-size: 3em;
    margin-left: 1em;
    display: inline-block;
    line-height: 1.8em;
}

span{
    color: #FF0400;   
}